.App {
  background-color: white;
}
button{
  background-color: white;
  cursor: pointer;
}
.home{
  text-align: center;
}
.form-headers{
  font-size:20px
}
.calories{
  text-align: center;
  display: grid;
  grid-template-columns:1fr 3fr;
}
.forms{
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  outline-style: groove;
}
.output{
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 25px;
  outline-style: groove;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.homeLink{

}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
